body {
    background-color:#04383c;
}

h1 {
    text-align: center;
    color: white;
}

#scissors {
    width: 130px;
    height: 80px;
    background-color: rgb(109, 210, 177);
    border: solid rgb(13, 13, 13) 1px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3rem;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
              
}

#paper {
    width: 130px;
    height: 80px;
    background-color: rgb(109, 210, 177);
    border: solid rgb(13, 13, 13) 1px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3rem;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
}

#rock{
    width: 130px;
    height: 80px;
    background-color: rgb(109, 210, 177);
    border: solid rgb(13, 13, 13) 1px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3rem;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
}

#scoreboard{
    background-color: rgb(26, 202, 17);
    height: 50px;
    color: rgb(35, 5, 95);
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    border-radius: 8px;
    border: dotted 2px rgb(208, 255, 0);
}

#gameboard {
    background-color: rgba(13, 46, 137, 0.568);
    text-align: center;
    border-radius: 15px;
}

p {
    color: aliceblue;
    text-align: center;
    font-size: 17px;
}

span {
    color: rgb(115, 255, 0);
    display: flex;
    justify-content: center;
    font-size: 22px;
}